.root {
  -standard                    : #1774D0;
  -bright                      : #51A5F8;  
  -fx-background               : #FFFFFF;
  -fx-base                     : -standard;
  -fx-font-family              : "Roboto";
  -fx-font-size                : 16px;  
  -fx-selection-bar            : -standard;
  -fx-selection-bar-non-focused: derive(-standard, 20%);
}